# Ignore compiled python files
*.pyc
__pycache__

# User specific JetBrains IDE files
*.iml
*.idea/

# Exclude the Virtual Environment Directory from GIT
env/

# Exclude Paths for Testing and Debugging
test/

# Ignore log files
*.log
